*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
}
html{
  font-size: 62.5%;
  scroll-behavior: smooth; /*Desplazamiento de la pagina*/
  scroll-padding-top: 6rem;
  overflow-x:hidden;
}
/*Inicio de menu*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none;
  transition: .2s linear;
  font-family: 'Poppins',sans-serif;
}

header{
height: 90px;
margin: 0;
padding: 0;
background: #f8f8f8;
background-size: cover;
position: relative;
}

.inner-width{
max-width: 1000px;
padding: 0px;
margin: auto;
position: relative;
}

.logo{
float: left;
width: 20px;
height: 30px;
padding: 0px;
color: #fff;
}
.logo img{
height: 30px;
}

.navigation-menu{
float: right;
display: flex;
align-items: center;
min-height: 90px;
}

.navigation-menu a{
margin-left: 10px;
color: #000;;
text-transform: uppercase;
font-size: 14px;
padding: 12px 20px;
border-radius: 4px;
transition: .3s linear;
}
.home{
color: #fff;
}
a.aj_btn {
background: #2b96d4;
color: #fff;
font-weight: 500;
letter-spacing:2px;
}
a.aj_btn:hover{
background: #ed8977; /*Color de sombra*/
color: #ffffff;
font-weight: 500;
letter-spacing: 2px;
}
.menu-toggle-btn{
float: right;
height: 90px;
line-height: 90px !important;
color: #fff;
font-size: 26px;
display: none !important;
cursor: pointer;
}
@media screen and (max-width:900px) {
.menu-toggle-btn{
  display: block !important;
}

.navigation-menu{
  position: fixed;
  width: 100%;
  max-width: 400px;
  background: #172b4d;
  top: 90px;
  right: 0;
  display: none;
  padding: 20px 40px;
  box-sizing: border-box;
}
.navigation-menu::before{
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #172b4d;
    position: absolute;
    top: -10px;
    right: 10px;
  }

  .navigation-menu a{
    display: block;
    margin: 10px 0;
  }

  .navigation-menu.active{
    display: block;
  }
}
  /*Inicio de slider*/
  
  #container-slider
  {
      position: relative;
      display: block;
      width: 100%;
  }
  #slider {
      position: relative;
      display: block;
      width: 100%;
      height: 100vh;
      min-height: 500px;
  }
  #slider li {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: absolute !important;
      top: 0 !important;
      left: 0 !important;
      width: 100%;
      height: 100%;
      display: block;
      -webkit-transition: opacity 1s;
      -moz-transition: opacity 1s;
      -ms-transition: opacity 1s;
      -o-transition: opacity 1s;
      transition: opacity 1s;
      z-index: -1;
      opacity: 0;
  }
  #container-slider .arrowPrev, #container-slider .arrowNext{
    font-size: 30pt;
    color: rgba(204, 204, 204, 0.65);
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50px;
    z-index: 2; 
}
#container-slider .arrowNext {
    left: initial;
    right: 50px !important;
}
.content_slider{
    padding: 15px 30px;
    color: #FFF;
    width: 100%;
    height: 100%;
}
.content_slider div{
    text-align: center;
}
.content_slider h2{
    font-family: 'arial';
    font-size: 30pt;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.content_slider p {
    font-size: 15pt;
    font-family: 'arial';
    color: #FFF;
    margin-bottom: 20px;
}
#slider li .content_slider{
  background: rgba(0, 0, 0, 0.50);
  padding: 10px 125px;
}
.content_slider{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnSlider{
  color: #FFF;
  font-size: 15pt;
  font-family: 'arial';
  letter-spacing: 1px;
  padding: 10px 50px;
  border: 1px solid #CCC;
  background: rgba(13, 13, 13, 0.55);
  border-radius: 31px;
  text-decoration: none;
  transition: .5s all;
}
.btnSlider:hover{
  background: #111;
  border: 1px solid #111;
}
.listslider {
  position: absolute;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 50%;
  bottom: 5%;
  list-style: none;
  z-index: 2;
  transform: translateX(-50%);
}
.listslider li {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  cursor: pointer;
  margin: 0 5px;
}
.listslider li a {
  background: #CCC;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: block;
}
.item-select-slid {
  background: #FFF  !important;
}
@media screen and (max-width: 460px){
	.content_slider h2 {
	    font-size: 15pt !important;
	}
	.content_slider p {
	    font-size: 12pt !important;
	}
	#container-slider .arrowPrev, #container-slider .arrowNext{
		font-size: 20pt;
	}
	#container-slider .arrowPrev{
		left: 15px;
	}
	#container-slider .arrowNext{
		right: 15px !important;
	}
	#slider{
		height: 400px;
		min-height: 400px;
	}
	#slider li .content_slider{
		padding: 10px 35px;
	}
	.btnSlider{
		padding: 10px 30px;
    	font-size: 10pt;
	}

}
/*Fin del inicio*/

 /*Nosotros*/

 .titulo_nosotros{
  text-align: center;
  font-size: 4rem;
  color: rgb(50, 46, 46);
  padding: 1rem;
  margin: 1rem;
  background: rgba(197, 220, 235, 0.719);
}

.titulo_nosotros span{
  color: #000000f1;
}

.nosotros .mp4_nosotros{
  display: flex;
  align-items: center;
  gap: 5rem;
  flex-wrap: wrap;
  padding: 2rem 0;
  padding-bottom: 3rem;
}

.nosotros .mp4_nosotros .vid_nosotros{
  flex:1 1 200px;
  position: relative;
}

.nosotros .mp4_nosotros .vid_nosotros video{
  width: 90%;
  border: 1.5rem solid #fff;
  border-radius: 5rem;
  box-shadow: 0 .5rem 1rem rgba(33, 127, 222, 0.1);
  height: 90%;
  object-fit: cover;
}
.nosotros .mp4_nosotros .vid_nosotros h3{
  position: absolute;
  top: 50%; transform: translateY(-50%);
  font-size: 3rem;
  background: #fff;
  width: 100%;
  padding: 1rem 2rem;
  text-align: center;
  mix-blend-mode: screen;
}

.nosotros .mp4_nosotros .txt_nosotros{
  flex: 1 1 40px;
}

.nosotros .mp4_nosotros .txt_nosotros h3{
  font-size: 3rem;
  color: black;
}

.nosotros .mp4_nosotros .txt_nosotros p{
  font-size: 20px;
  color: #000000;
  padding: .5rem 0;
  padding-top: 1rem;
  line-height: 1.5;
}

@media (max-width:450px){

  html{
      font-size: 50%;
}

  .texto_banner{
      font-size:3rem;
}

}
  
      /*Fin de nosotros*/

/*Cartas*/

:root {
  --surface-color: #fff;
  --curve: 40;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 100%;  
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}
.card__image {      
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: calc(var(--curve) * 1px);    
  background-color: var(--surface-color);      
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}
.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;    
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;      
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
}       
.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 80px;      
  border-radius: 50%;      
}

.card__title {
  font-size: 3em;
  margin: 0 0 .3em;
  color: #6A515E;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";  
  font-size: .8em; 
  color: #D7BDCA;  
}
.card__status {
  font-size: .8em;
  color: #D7BDCA;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  font-size: 14px;
  height: 150px;
  font-family: 'Poppins', sans-serif;
  color: #000;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}        
/*Fin de cartas*/


/*Footer*/
footer{
  position: relative;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #e7e3e1;
  box-shadow: 0 16px 70px -8px rgba(0, 0, 0, 0.25);
  border-radius: 20px 20px 0 0;
  transition: background 0.3s linear;
}

.container{
  max-width: 1200px;
  padding: 20px 20px;
  margin: auto;
}

.content_footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.profil .logo_area{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.profil .logo_area img{
  border-radius: 40%;
  border: 1px solid var(--primary-color);
}

.logo_area .logo_name{
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 1rem;
  color: var(--secondary-color);
}

.desc_area{
  max-width: 320px;
  margin-bottom: 1.25rem;
}
.desc_area p{
  color: #828282;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  text-align: justify;
  margin: 20px;
}

.social_media a{
  color: #007bfe;
  margin-right: 22px;
  font-size: 24px;
}

.social_media .whatsaap{
  color: #2de449;
  margin-right: 22px;
  font-size: 24px;
}

.social_media .insta{
  background-image: radial-gradient(circle at 30% 11%, #ffdb8d 0%, #ee653d 25%, #d42e81 50%, #a237b6 75%, #3a5fbc 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  margin-right: 22px;
  font-size:24px;
}

.social_media a:hover{
  color: #313131;
}

.service_area{
  display: flex;
}

.service_header{
  margin-right: 40px;
}
li.service_name{
  color: var(--secondary-color);
  font-size: 20px;
  font-weight: 400;
}

.service_header li a{
  color: #828282;
  font-size: 20px;
  padding-bottom: 1px;
  font-weight: 400;
}

.service_header li a:hover{
  color: #313131;
}

.service_header li {
  margin-bottom: 20px;
}

hr{
  height: 1px;
  border: none;
  background-color: #828282;
  margin-bottom: 1rem;
}
.footer_buttom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.875rem;
}

.copy_right{
  color: #828282;
  display: flex;
  align-items: center;
}

.copy_right span{
  margin-left: 8px;
  font-weight: 400;
  letter-spacing: 0.135rem;
}

.tou a{
  color: #828282;
  margin-left: 1.5rem;
}

.tou a:hover{
  color: #313131;
}
@media screen and(max-width: 768px){
  .content_footer{
    flex-wrap: wrap;
    justify-content: 40px;
  }
  .service_area{
    flex-wrap: wrap;
    justify-content: left;
  }
  .service_header{
    margin-right: 1000px;
  }
  .social_media{
    margin-bottom: 1rem;
  }
  .footer_buttom{
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 510px){
  .service_header{
    margin-bottom: 8px;
  }
  .copy_right{
    margin-bottom: 8px;
  }
}

/*Final de footer*/


/*reponcin*/
@media (max-width:991px){

html{
  font-size: 55%;
}
header{
  padding: 2rem;
}

}

@media (max-width:768px){
header .fa-bars{
  display: block;
}
header .navbar{
position: relative;
top: 100%; left: 0; right: 0;
background: #eee;
border-top: .1rem solid rgba(0, 0, 0, .1);
clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

header #toggler:checked .navbar{
clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

header .navbar a{
margin: 1.5rem;
padding: 1.5rem;
background: #fff;
border: 1rem solid rgba(0, 0, 0, .1);
display: block;
}
}
@media (max-width:450px){

html{
    font-size: 50%;
}

.heading{
    font-size: 3rem;
}

}
/*Final reponcin*/



@media (max-width:800px){
.nav__menu{
  display: block;
}
.nav__link--menu{
position: fixed;
background-color: #000;
top: 0;
left: 0;
height: 100%;
width: 100%;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
z-index: 100;
opacity: 0;
pointer-events: none;
transition: .7s opacity;
}

.nav__link--show{
--show: block;
opacity:1 ;
pointer-events: unset;
}
.nav__close{
position: absolute;
top: 30px;
right: 30px;
width: 30px;
cursor: pointer;
}

.hero__title{
font-size: 2.5rem;
}


.about__main{
gap: 2em;
}

.about__icons:last-of-type{
grid-column: 1/-1;
}


.knowledge__container{
grid-template-columns: 1fr;
grid-template-rows: max-content 1fr;
gap: 3em;
text-align: center;
}
.knowledge__picture{
grid-row: 1/2;
justify-self: center;
}

.testimony__container{
grid-template-columns: 30px 1fr 30px;
}

.testimony__body{
grid-template-columns: 1fr;
grid-template-rows: max-content max-content;
gap: 3em;
justify-items:center ;
}


.testimony__img{
width: 200px;
height: 200px;

}

.questions__copy{
width: 100%;
}

.footer__container{
flex-wrap: wrap;
}

.nav--footer{
width: 100%;
justify-items: center;
}

.nav__link--footer{
width: 100%;
justify-content: space-evenly;
margin: 0;
}

.footer__form{
width: 100%;
justify-content: space-evenly;
}

.footer__input{
flex: 1;
}

}

@media (max-width:600px){
.hero__title{
    font-size: 2rem;
}

.hero__paragraph{
    font-size: 1rem;
}

.subtitle{
    font-size: 1.8rem;
}

.price__element{
    width: 90%;
}

.price__element--best{
    width: 90%;
    /* padding: 40px; */
}

.price__price{
    font-size: 2rem;
}
.testimony{
  --padding-container: 60px 0;
}

.testimony__container{
  grid-template-columns: 28px 1fr 28px;
  gap: .9em;
}

.testimony__arrow{
  width: 100%;
}

.testimony__course{
  margin-top: 15px;
}

.questions__title{
  font-size: 1rem;
}

.footer__title{
  justify-self: start;
  margin-bottom: 15px;
}
.nav--footer{
  padding-bottom: 60px;
}

.nav__link--footer{
  justify-content: space-between;
}

.footer__inputs{
  flex-wrap: wrap;
}

.footer__input{
  flex-basis: 100%;
  margin: 0;
  margin-bottom: 16px;
}

.footer__submit{
  margin-right: auto;
  margin-left: 0;
  

  /* 
  margin:0;
  width: 100%;
    */
}
}  

    /*Final de footer*/